/*** GENERAL ***/

:root {
  --header-height: 60px;
  --aside-width: 7.5%;
  --aside-height: calc(100vh - var(--header-height));
  --aside-t-height: calc(var(--aside-height) - var(--aside-b-height));
  --aside-b-height: 60px;
  --aside-bg: #051E34;
  --main-height: calc(100vh - var(--header-height));
  --color-1: #155CBA;
  --color-2: #D8D8D8;
  --color-3: #F7F7F7;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

ul {
  list-style: none;
  padding: 0;
}




