/* HEADER */

header {
  height: var(--header-height);
  background-color: var(--color-3);
}

header img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.rc-fm {
  background-color: var(--color-4);
  border-left: 0;
  padding-left: 0;
}

.rc-fm:focus {
  border-color: #ced4da;
  box-shadow: none;
  background-color: var(--color-4);
}

#addon-wrapping {
  border-right: 0;
}

header nav > div:last-child i {
  cursor: pointer;
}


/* /HEADER */


/* ASIDE */

aside {
  font-family: 'Poppins', sans-serif;
  background-color: var(--aside-bg);
  background-image: url('../assets/img/sidebar-bg.png');
  width: var(--aside-width);
  height: var(--aside-height);
}

aside span {
  font-size: 0.7rem;
  margin-left: 5px;
}

/* aside top */

#aside-t {
  min-height: 105px;
}

#aside-t li {
  padding: 8px 0;
}

/* /ASIDE */


/* MAIN */

main {
  height: var(--main-height);
}
 
/* Dashboard heading */

#dashboard-heading p {
  font-size: 0.9rem;
}

#dashboard-heading i {
  font-size: 0.7rem;
}

.rc-badge-dsh {
  background-color: var(--color-1);
  cursor: pointer;
}

.rc-badge-dsh.circle {
  width: 20px;
  height: 20px;
}

.rc-badge-dsh:hover {
  filter: brightness(0.8);
}
 
/* /Dashboard heading */
 
/* Dashboard  */

#dashboard  {
  font-size: 0.8rem;
}

.card .container-fluid {
  background-color: var(--color-3);
  border-bottom: inherit;
}
 
.rc-btn-ds {
  padding: 0;
  width: 40px;
  height: 40px;
  font-size: 1.3rem;
}


/* Offcanvas form */

.offcanvas.offcanvas-end.rc-w-100 {
  width: 100%;
}

.rc-form-check {
  padding-left: 2.4rem;
  padding-top: 1rem;
}


/* Tabella */

.rc-tr {
  border-color: #000;
}

.table th:not(.table th:first-child) {
  width: 110px;
}

.table th:not(.table th:first-child),
.table td:not(.table td:first-child) {
  text-align: center;
}

.table img {
  width: 25px;
}

.rc-btn-tb {  
  padding: 0;
  width: 30px;
  height: 30px;
  font-size: 0.9rem;
}

/* Faq */

#rc-accordion {
  font-size: 0.8rem;
}

#rc-accordion .accordion-button {
  font-size: 0.9rem;
}

#rc-accordion .accordion-item:first-of-type .accordion-button {
  border-radius: 0;
}

#rc-accordion .accordion-item {
  border-style: none;
}

#rc-accordion .accordion-button:focus {
  box-shadow: none;
  background-color: var(--color-3);
}

#rc-accordion .accordion-button:not(.collapsed) {
  background-color: var(--color-3);
  color: var(--color-2);
  box-shadow: none;
}

/* Todo */

#todo label,
#todo input {
  cursor: pointer;
}

/* Utenti attivi */

#users-active li {
  cursor: default;
}

/* /Dashboard  */

/* /MAIN */